/* If a park has NOT been visited, it will receive a 1px solid green border. If the park HAS been visited, it will receive a 1px dashed red border. I set the display for the articles to flex in order to align the content to my liking. */

#not-visited {
    border: 3px solid green;
    background-color: mediumaquamarine;
}

#visited {
    border: 3px dashed red;
    background-color: lightsalmon 
}

article {
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

body {
    background-color: ivory;
}
